<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <!-- 追加箇所 開始 -->
  <div class="field">
    <% if @blog.image? %>
      <div class="thumbnail">
        <%= image_tag @blog.image.url %>
      </div>
    <% end %><br>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @blog.persisted? && @blog.image? %>
      <label>
        <%= form.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->

  <div class="field">
    <% if @blog.img.attached? %>
      <div class="thumbnail">
        <%= image_tag @blog.img %>
      </div>
    <% end %><br>
    <%= form.label :img %><br>
    <%= form.file_field :img %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
