<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1><%= t(:blogs) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:title) %></th>
      <th><%= t(:body) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to t(:show), blog ,class: "btn btn-sm btn-primary",style: "color:#fff" %></td>
        <td><%= link_to t(:edit), edit_blog_path(blog) ,class: "btn btn-sm btn-primary",style: "color:#fff"%></td>
        <td><%= link_to t(:delete), blog, method: :delete, data: { confirm: t(:confirm) } ,class: "btn btn-danger btn-sm",style: "color:#fff"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new), new_blog_path,class: "btn btn-primary",style: "color:#fff" %>
