<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
<!-- 追加箇所 開始 -->

<p>
  <strong>Image:</strong>
  <% if @blog.image? %>
    <div class="thumbnail">
      <%= image_tag @blog.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->


<%= link_to t(:edit), edit_blog_path(@blog),class: "btn btn-sm btn-primary",style: "color:#fff" %> 
<%= link_to t(:back), blogs_path,class: "btn btn-sm btn-primary",style: "color:#fff" %>
